<!DOCTYPE html>
<html lang="en" ng-app="personal_app">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Evan Buss</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="/static/img/skins.ico">

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/static/js/jquery.validate.js"></script>

    <!-- Angular Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.3.15/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
    <script src="/static/script.js"></script>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/static/css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top" id="header-text">Evan Buss - Software Developer | Data Scientist</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#portfolio" id="SanFran">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#aboutMe" id="SanFran">About Me</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="Kammer">Evan Buss</h1>
                <h2 id="Kammer">Software Developer | Data Scientist</h2>
                <hr>
                <p>From Yale University to Silicon Valley</p>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="portfolio">
        <div class="container">
            <div class="row" id="newHeight">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h1 class="section-heading" id="Kammer">Portfolio</h1>
                    <hr class="light">
                    <p class="text-faded">These are a few of the projects that I have been developing recently.</p>
                </div>
                <!-- new -->
                 <div class="row no-gutter">
                 <!-- BLV -->
                <div class="col-lg-4 col-sm-6">
                    <a href="/static/BLVproject.html" class="portfolio-box">
                        <img src="/static/img/portfolio/Project_BLV.png" class="img-responsive" alt="BLV">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    MEAN Stack
                                </div>
                                <div class="project-name">
                                    Project BLV
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Facebook -->
                <div class="col-lg-4 col-sm-6">
                    <a href="/static/LAMPproject.html" class="portfolio-box">
                        <img src="/static/img/portfolio/facebook_clone.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    LAMP Stack
                                </div>
                                <div class="project-name">
                                    Faceboook Clone
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- BussLab -->
                <div class="col-lg-4 col-sm-6">
                    <a href="/static/Labproject.html" class="portfolio-box">
                        <img src="/static/img/portfolio/busslab.png" class="img-responsive" alt="busslab">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Laboratory Website
                                </div>
                                <div class="project-name">
                                    thebusslab.com
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Golf Store -->
                <div class="col-lg-4 col-sm-6">
                    <a href="/static/golfStore.html" class="portfolio-box">
                        <img src="/static/img/portfolio/golf_store.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Mean Stack
                                </div>
                                <div class="project-name">
                                    Golf Retail Store
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Chatroom -->
                <div class="col-lg-4 col-sm-6">
                    <a href="/static/chatroom.html" class="portfolio-box">
                        <img src="/static/img/portfolio/chatroom.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    JavaScript
                                </div>
                                <div class="project-name">
                                    Live Chatroom
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- UserDashboard -->
                <div class="col-lg-4 col-sm-6">
                    <a href="/static/userDashboard.html" class="portfolio-box">
                        <img src="/static/img/portfolio/UD.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    PHP
                                </div>
                                <div class="project-name">
                                    User Dashboard
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/static/Tipsproject.html" class="portfolio-box">
                        <img src="/static/img/portfolio/tips.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    iOS App
                                </div>
                                <div class="project-name">
                                    Tips Calculator
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/static/Todoproject.html" class="portfolio-box">
                        <img src="/static/img/portfolio/ToDo.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    iOS App
                                </div>
                                <div class="project-name">
                                    ToDo List
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/static/Splitproject.html" class="portfolio-box">
                        <img src="/static/img/portfolio/split.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    iOS App
                                </div>
                                <div class="project-name">
                                    SplitBroswer
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- end new -->
            </div>
        </div>
    </section>


    <aside class="bg-dark" id="aboutMe">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Send me an email!</h2>
                <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-default btn-xl wow tada">Contact Me</a>
            </div>
        </div>
    </aside>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" ng-controller="MessageController">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Send Me An Email</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="subject">Your Name:</label>
                <input id="subject" type="text" class="form-control" name="name" ng-model="new_message.name" placeholder="Name" required>
              </div>
              <div class="form-group">
                <label for="subject">Your Email:</label>
                <input id="subject" type="email" class="form-control" name="email" ng-model="new_message.email" placeholder="Email" required>
              </div>
              <div class="form-group">
                <label for="subject">Subject:</label>
                <input id="subject" type="text" class="form-control" name="subject" ng-model="new_message.subject" placeholder="Subject" required>
              </div>
              <div class="form-group">
                <label for="message">Message:</label>
                <textarea id="content" type="text" class="form-control" name="message" ng-model="new_message.message" rows="10" placeholder="Message.."></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <span id="message"></span>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-default" value="Send" ng-click="addMessage()">Send Email</button>
          </div>
        </div>

      </div>
    </div>


    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <hr class="primary">
                    <p>I am a software developer with a passion for data. My data science skills have been proven at the highest levels of academia while working with some of Yale University’s finest. I can quickly learn new technologies and work with a team to meet required deadlines. My background in laboratory research and statistical programming provided me a great foundation for my future in the technology industry.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>(860)-301-3457</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="#" data-toggle="modal" data-target="#myModal">evanbuss@gmail.com</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/js/jquery.easing.min.js"></script>
    <script src="/static/js/jquery.fittext.js"></script>
    <script src="/static/js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/creative.js"></script>
    <!-- google analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-64050303-1', 'auto');
      ga('send', 'pageview');

    </script>

</body>

</html>
